*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.055);
}
h2{
    color: #fff;
    margin-top: 2px;
    margin-bottom: 10px;
}
.container{
    background: rgba(53, 51, 51, 0.986);
    padding: 20px;
    padding-top: 5px;
    width: 40%;
    max-width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
}
.question{
    display: block;
    width: 90%;
    padding: 5px 8px;

}
.question>p{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin: 5px auto;
    display: inline;
}
.question>input{
    font-size: 18px;
    padding: 2px;
    margin: 5px auto;
    width: 95%;
    border: 3px solid rgb(255, 255, 255);
}
.selectOperator{
    color: #fff;
    text-align: left;
    margin-left: 0;
    width: 90%;
    font-size: 17px;
}
.submit{
    width: 90%;
    padding: 10px 8px;
    display: flex;
    justify-content: space-between
}
.submit>button{
    width: 80px;
    font-size: 20px;
    padding: 3px 8px;
    font-weight: 500;
    background: rgb(78, 137, 226) ;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.answer{
    display: block;
    background-color: rgb(249, 253, 249);
    width: 90%;
    padding: 5px 0px;
    margin-top: 10px;
}
.answer>p{
    display: inline;
    font-size: 25px;
    font-weight: 600;
    margin-left: 5px;
    padding: 2px ;
}
.box{
    display: inline;
    font-size: 25px;
    font-weight: 600;
    color: rgba(20, 19, 19, 0.959);
    margin-left: 5px;
    padding: 2.1px 28px;
    border: 1.8px solid rgba(0, 0, 0, 0.301);

}
.box>span{
    color: rgb(31, 32, 30);
    padding: 2.5px 5px;
    font-size: 24px;
    margin: auto;
    
}

@media (max-width:600px){
    .container{
        height: 400px;
        width: 60%;
        max-width: 500px;
    }
    .submit{
        flex-direction: row;
    }
    .submit>button{
        margin-top: 5px;
    }
    .answer{
        display: block;
        background-color: inherit;
        color: #fff;
        width: 90%;
        padding: 5px 0px;
        margin-top: 10px;
    }
    .answer>p{
        text-align: left;
    }
    .box{
        display: block;
        font-size: 25px;
        font-weight: 600;
        background: #fff;
        color: rgb(37, 37, 37);
        margin-left: 5px;
        padding: 2.1px 0px;
        text-align: left;
    }
    .box>span{
        text-align: left;
        color: rgb(31, 32, 30);
        padding: 2.5px 5px;
        font-size: 24px;
        margin: auto;
    }
}

@media (max-width:400px){
    body{
        background: #fff;
        align-items: flex-start;
        height: 97.5vh;
    }
    .container{
        width: 99%;
        max-width: 600px;
        background: rgb(22, 110, 126);
        height: 100%;
        padding-bottom: 10px;
    
    }
    .submit{
        flex-direction: column;
    }
    .answer{
        background: rgb(22, 110, 126);
        border: none;
    }
}
